# Dependencies
node_modules/
venv/
__pycache__/
*.pyc

# Environment variables
.env
.env.local

# Build
frontend/dist/
backend/*.egg-info/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite3

# Logs & coverage
*.log
.coverage
htmlcov/
.pytest_cache/

# Misc
frontend/src/assets/*.svg
frontend/src/assets/*.png
frontend/src/App.css
